@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.navigation-menu{
    display: flex;
    gap: 24px;
    font-family: "Inter", sans-serif;
    color: #575757FF;
    font-size: 16px;
}

.reg-btn{
    background-color: blue;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
}
header{
    margin: 23.5px 115.5px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{

    background-image:url("../assets/banner.jpg");
    width: 1551px;
    height: 786;
    
}

.motto{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font-size: 80px;
    color: white;
    font-weight: 700;

}
.bnr-description{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 350px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.speaker-heading{
    text-align: center;
}

.card-role{
    font-size: 12px;
    font-weight: 600;
    color:#2563ebFF;
    line-height: 1.5;
    letter-spacing: 0.3px;
    padding: 0px 0px 0px 12px;
}

.card-name{
    font-size: 20px;
    font-weight: 700;
    color:#0d1b2aFF;
    line-height: 1.375;
    padding: 0px 0px 0px 12px;
}
.card-company{
    font-size: 14px;
    font-weight: 400;
    color: #575757FF;
    line-height: 1.5;
    padding: 0px 0px 0px 12px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}
.card-img{
    width: 100%;
}
.speakers{
    margin: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}