@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #08182b;
    background-color: white;
}

input,
textarea,
button {
    font-family: "Inter", sans-serif;
}

.website-header {
    width: 100%;
    height: 98px;
    background-color: white;
}

.navbar {
    max-width: 1320px;
    height: 100%;
    margin: auto;
    padding: 0 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    width: 145px;
    height: auto;
}

.navigation-menu {
    display: flex;
    gap: 30px;
}

.navigation-menu {
    color: #333333;
    font-size: 15px;
}

.nav-button {
    padding: 15px 43px;
    border-radius: 9px;
    color: white;
    background-color: #2458df;
    font-size: 15px;
    font-weight: bold;
}


.hero-section {
    width: 100%;
    height: 755px;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.62)
        ),
        url("../assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 1100px;
    height: 100%;
    margin: auto;
    padding: 130px 20px 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    text-align: center;
}

.hero-content h1 {
    margin: 0;
    color: white;
    font-size: 72px;
    line-height: 1.1;
}

.hero-content p {
    max-width: 800px;
    margin: 28px 0 0;
    color: white;
    font-size: 22px;
    line-height: 24px;
}

.hero-button {
    margin-top: auto;
    padding: 22px 65px;
    border-radius: 9px;
    color: white;
    background-color: #2458df;
    font-size: 23px;
    font-weight: bold;
}

.speakers-section {
    padding: 85px 20px 135px;
    background-color: white;
}

.section-title {
    margin: 0 0 60px;
    color: black;
    text-align: center;
    font-size: 52px;
}

.speakers-container {
    width: 1260px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.speaker-card {
    width: 614px;
    border: 1px solid #d9dee5;
    border-radius: 10px;
    background-color: white;
}

.speaker-image {
    display: block;
    width: 100%;
    height: 310px;
}

.speaker-information {
    padding: 24px;
}

.speaker-topic {
    margin: 0 0 12px;
    color: #1554e8;
    font-size: 12px;
    font-weight: bold;
}

.speaker-information h3 {
    margin: 0 0 12px;
    color: black;
    font-size: 20px;
}

.speaker-job {
    margin: 0;
    color: #525252;
    font-size: 14px;
}

.pricing-section {
    padding: 40px 20px 110px;
    background-color: white;
}

.pricing-title {
    margin: 0;
    color: #08182b;
    text-align: center;
    font-size: 48px;
}

.pricing-subtitle {
    margin: 15px 0 50px;
    color: #6a7078;
    text-align: center;
    font-size: 15px;
}

.pricing-container {
    max-width: 1120px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 22px;
}

.pricing-card {
    width: 355px;
    height: 425px;
    padding: 32px 30px 30px;
    border: 1px solid #dce1e7;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.plan-name {
    margin: 0 0 8px;
    color: #7a828d;
    font-size: 13px;
    font-weight: bold;
}

.price {
    margin: 0;
    color: #08182b;
    font-size: 44px;
}

.price-information {
    margin: 3px 0 22px;
    color: #717780;
    font-size: 13px;
}

.pricing-card hr {
    width: 100%;
    margin: 0 0 15px;
    border: none;
    border-top: 1px solid #dce1e7;
}

.feature-list {
    flex-grow: 1;
    margin: 0 0 20px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 30px;
}


.feature-list li span {
    color: #172033;
}

.price-button {
    width: 100%;
    padding: 13px;
    border-radius: 7px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.standard-button {
    border: 1px solid #2563eb;
    color: #2563eb;
    background-color: white;
}


/* Pro pricing card */

.pro-card {
    border-color: #0c1b2c;
    color: white;
    background-color: #0c1b2c;
}

.pro-card .price {
    color: white;
}

.pro-card .price-information {
    color: #a7b1be;
}

.pro-card hr {
    border-color: #263647;
}

.pro-card .feature-list li span {
    color: white;
}

.pro-plan-name {
    color: #55a2ff;
}

.pro-button {
    border: 1px solid #2864e8;
    color: white;
    background-color: #2864e8;
}


/* Team pricing card */

.team-card {
    background-color: white;
}

/* contact-form  */

.contact-price-button {
    border: 1px solid #08182b;
    color: #08182b;
    background-color: transparent;
}

.contact-section {
    padding: 90px 20px 110px;
    background-color: #f2efff;
}

.contact-section h2 {
    margin: 0;
    color: #08182b;
    text-align: center;
    font-size: 48px;
}

.contact-subtitle {
    margin: 15px 0 45px;
    color: #616975;
    text-align: center;
    font-size: 16px;
}

.contact-form {
    max-width: 800px;
    margin: auto;
    padding: 38px;
    border: 1px solid #ded9ed;
    border-radius: 12px;
    background-color: white;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    width: 100%;
    margin-bottom: 22px;
}

.form-group label {
    display: block;
    margin-bottom: 9px;
    color: #172033;
    font-size: 14px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    border: 1px solid #ccd1d8;
    border-radius: 7px;
    font-size: 14px;
}

.form-group textarea {
    width: 100%;
    height: 135px;
    padding: 14px;
    border: 1px solid #ccd1d8;
    border-radius: 7px;
    font-size: 14px;
}

.contact-form-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #2458df;
    font-size: 15px;
    font-weight: bold;
}